/.ipynb_checkpoints
/avocado.csv
/avocado.txt
/Avocado_before_preprocessing.html
/candy data.txt
/candydata.csv
/CC.csv
/Columns.xlsx
/details.csv
/download (1).png
/download (2).png
/download (3).png
/download (4).png
/download (5).png
/download.png
/Insurance.ipynb
/insurance.txt
/insurancedata.csv
/LMSProjectGuidelines-191119-110025.pdf
/mcdonalds.xlsx
/Project backup.ipynb
/Project Backup1.ipynb
/Project Backup2.ipynb
/Project Presentation old.mp4
/Project.txt
/sridhar.emmadi@gmail.com_Term3_ML_Foundation_Avocado.mp4
/summary.csv
/Term-III Machine Learning Foundation Project Datasets.ipynb.txt